body{
  background:skyblue;
}
h1{
  margin-left: 10%
  text-decoration: underline;
  text-shadow: 2px 2px 5px purple;
}
h3{
  font-size: 40px;

  margin-left: 10%
  text-decoration: underline;
  text-shadow: 2px 2px 5px purple;
}

p{
  font-size: 30px;
  font-style:oblique;
  
  font-weight: bold;

}
.nav a{
  text-align: center;
  font-style: oblique;
  text-shadow: 2px 2px 5px yellow;
  text-indent: 20px;
  text-decoration-color: Tomato;
  font-size: 20px;
  text-decoration: underline;
  padding: 20px;
  line-height: 60px;

}

.nav a:hover {
  background-color: #ddd;
  color: black;
}

img{
  width: 50%;
  height: 400px;
  margin-top: 30px;
  margin-left: 300px;

}
figcaption{
  text-align: center;
  font-style: italic;
}

.ProCon{


  font-size: 20px;
  line-height: 50px;
}

.feature{
  font-size: 20px;

  line-height: 50px;
}
.use{
  font-size: 20px;

/*  margin-bottom: 80px;*/
  line-height: 50px;
}

.Mistakes{
  font-size: 20px;

  /*margin-bottom: 80px;*/
  line-height: 50px;
}
.Improve{
  font-size: 20px;

/*  margin-bottom: 80px;*/
  line-height: 50px;
}
